.flightStart {
    width: 0px;
	height: 0px;
	border-width: 50px 37px 50px 0;
	border-color: transparent #0015FC transparent transparent;
	border-style: solid;
    border-radius: 10px solid black;
    

}

.flightMiddel {
    width: 40px;
    height: 100px;
    background-color: rgb(151, 182, 49); 
    border-width: 50px 37px 50px 0;
    
   

}
.flightEnd { 
    width: 0;
	height: 0;
	border-width: 50px 0 50px 35px;
	border-color: transparent transparent transparent #2F0CE3;
	border-style: solid;
}
.mitte {
    height: 10px;
    width: 100px;
    background-color: black;
    position: relative;
    top: 45px;
    right: 8px
}
.barrel {
    height: 20px;
    width: 100px;
    background-color: rgb(100, 100, 100);
    position: relative;
    top: 40px;
    right: 8px
    
}

.spitzeOne {
    width: 0;
	height: 0;
	border-width: 10px 0 10px 28px;
	border-color: transparent transparent transparent #2F0CE3;
	border-style: solid;
    position: relative;
    top: 40px;
    right: 8px

}

.blacklineone { 
    height: 20px;
    width: 3px;
    background-color: bisque;
    position: relative;
    top: 40px;
    right: 50px

}

.blacklinetow { 
    height: 20px;
    width: 3px;
    background-color: bisque;
    position: relative;
    top: 40px;
    right: 80px

}

.blacklinethree { 
    height: 20px;
    width: 3px;
    background-color: bisque;
    position: relative;
    top: 40px;
    right: 100px

}

.grid {
    display: flex;
}